* /* o * faz com que se aplique as config abaixo na pag toda (reseta) */
{
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* limita a margem do conteudo */
}

body /*todo conteudo visual da pagina*/
{
    background-color: #86649c; /* Define a cor de fundo do corpo da página */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    margin: 0; /* remove a margem padrão */
    min-height: 100vh; /* Define a altura mínima como 100% da altura da viewport */
    display: flex; /* Define o layout como flexbox */
    flex-direction: column; /* Organiza os itens em uma coluna */
}

header /* cabeçalho da página */
{
    padding: 10px 0; /* Define um preenchimento no topo e na base */
}

.menu /* barra de navegação tag - nav */
{
    display: flex; /* Define o layout como flexbox */
    padding: 10px 5%; /* Define um preenchimento interno (10px no topo e na base, 5% nas laterais) */
    flex-direction: row; /* Organiza os itens do menu em uma linha */
    cursor: pointer; /* Define o cursor do mouse como ponteiro ao passar sobre o menu */
    margin-left: 12%; /* Adiciona uma margem à esquerda de 12% */
    gap: 100px; /* Define um espaço de 100px entre os itens */
    font-size: 24px; /* Define o tamanho da fonte dos itens do menu */
}

.menu1 /*links do menu - tag a*/
{
    text-decoration: none; /* Remove a decoração padrão dos links */
    color: #b8ffb8; /* define cor da fonte */
    font-size: 24px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 600; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
}

.editarmain /* main */
{
    margin: 5% 15%; /* Define a margem em cima/embaixo e nas laterais */
    display: flex; /* Define o layout como flexbox */
    flex: 1; /* Define a flexibilidade do contêiner */
    flex-direction: column; /* Organiza os itens em uma coluna */
    justify-content: flex-start; /* Alinha os itens ao início do contêiner */
    align-items: center; /* Alinha os itens ao centro verticalmente */
}

h1, p, .subtitulo /* Estilos para h1, p e subtítulo */
{
    color: #F6F6F6; /* define cor da fonte */
}

.textor /* section textor */
{
    width: 100%; /* Define a largura como 100% */
    max-width: 900px; /* Define a largura máxima */
    display: flex; /* Define o layout como flexbox */
    flex-direction: column; /* Organiza os itens em uma coluna */
    gap: 30px; /* Define um espaço de 30px entre os itens */
}

.linha-superior /* div linha superior */
{
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    width: 100%; /* Define a largura como 100% */
}

.pz_titulo /* h1 */
{
    font-size: 34px; /* Define o tamanho da fonte */
    font-family: "Krona One", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
    color: #b8ffb8; /* define cor da fonte */
    text-align: center; /* Alinha o texto ao centro */
    flex: 1; /* Define a flexibilidade do item */
}

.conteudo /* div conteudo */
{
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    width: 100%; /* Define a largura como 100% */
    gap: 20px; /* Define um espaço de 20px entre os itens */
}

.texto /* div texto */
{
    flex: 3; /* Define a flexibilidade do item */
}

.pz_texto /* texto do paragrafo - p */
{
    font-size: 22px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
}

img /* Imagem */
{
    flex: 1; /* Define a flexibilidade da imagem */
}

.foto-redonda /* Imagem com bordas arredondadas */
{
    border-radius: 50%; /* Define o arredondamento total das bordas */
}

.linha-separadora, .linha-separadora-inferior /* hr */
{
    border: 0; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background: #b8ffb8; /* Cor da linha */
    width: 80%; /* Define a largura da linha */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
}

.rodape /* footer */
{
    background-color: #80b180; /* Define a cor de fundo do rodapé */
    padding: 24px; /* Define o preenchimento interno */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 22px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
    color: #ffffff; /* define cor da fonte */
    margin-top: auto; /* Fixa o rodapé na parte inferior da página */
}