* /* o * faz com que se aplique as config abaixo na pag toda (reseta) */
{
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding:0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* limita a margem do conteudo */
}

body /*todo conteudo visual da pagina*/
{
    background-color: #86649c; /* Define a cor de fundo do corpo da página */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    margin: 0; /* remove a margem padrão */
    color: #F6F6F6; /* define cor da fonte */
}

header /* cabeçalho da página */
{
    padding: 10px 0; /* Define um preenchimento no topo e na base */
}

.menu /* barra de navegação tag - nav */
{
    display: flex; /* Define o layout do menu como flexbox */
    padding: 10px 5%; /* Define um preenchimento interno (10px no topo e na base, 5% nas laterais) */
    flex-direction: row; /* Organiza os itens do menu em uma linha */
    cursor: pointer; /* Define o cursor do mouse como ponteiro ao passar sobre o menu */
    margin-left: 12%; /* Adiciona uma margem à esquerda de 12% */
    gap: 100px; /* Define um espaço de 100px entre os itens do menu */
    font-size: 24px; /* Define o tamanho da fonte dos itens do menu */
}

.menu1 /*links do menu - tag a*/
{
    text-decoration: none; /* Remove a decoração padrão dos links */
    color: #b8ffb8; /* define cor da fonte */
    font-size: 24px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 600; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
}

.pai /* Main */
{
    margin: 5% 15%; /* Define a margem em cima/embaixo e nas laterais */
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    gap: 40px; /* Define um espaço de 40px entre os itens */
    height: 100vh; /* Define a altura como 100% da altura da viewport */
}

.textor /* section */
{
    width: 615px; /* Define a largura do contêiner */
    display: flex; /* Define o layout como flexbox */
    justify-content: center; /* espaço entre as colunas */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    flex-direction: column; /* define a direção do flexbox */
    gap: 30px; /* Define um espaço de 30px entre os itens */
}

.pz_titulo /* h1 */
{
    font-size: 34px; /* Define o tamanho da fonte */
    font-family: "Krona One", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
}

.destaque_t /* strong */
{
    color: #b8ffb8; /* define cor da fonte */
}

.pz_texto /* p */
{
    font-size: 22px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
}

.links /* div links redes sociais */
{
    display: flex; /* Define o layout como flexbox */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    flex-direction: column; /* define a direção do flexbox */
    gap: 28px; /* Define um espaço de 28px entre os itens */
}

.apresentação_titulo_link /* h2 */
{
    font-size: 24px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
    color: #F6F6F6; /* define cor da fonte */
}

.button  /* Botão */
{
    display: flex; /* Define o layout como flexbox */
    padding: 10px 20px; /* Define o preenchimento interno */
    color: #F6F6F6; /* define cor da fonte */
    border-width: 2px; /* Define a largura da borda */
    border-color: #b8ffb8; /* Define a cor da borda */
    border-style: solid; /* Define o estilo da borda */
    border-radius: 8px; /* Define o arredondamento dos cantos */
    cursor: pointer; /* Define o cursor do mouse como ponteiro ao passar sobre o botão */
    text-align: center; /* Alinha o texto ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    gap: 6px; /* Define um espaço de 6px entre os itens */
    width: 378px; /* Define a largura do botão */
    text-decoration: none; /* Remove a decoração padrão dos links */
    font-size: 18px; /* Define o tamanho da fonte */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a cor de fundo */
}

.button:hover /* Estilo do botão ao passar o mouse */
{
    background-color: #80b180; /* Define a cor de fundo ao passar o mouse */
}

footer /* Rodapé */
{
    background-color: #80b180; /* Define a cor de fundo do rodapé */
}

.rodape /* Texto do rodapé */
{
    padding: 24px; /* Define o preenchimento interno */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 22px; /* Define o tamanho da fonte */
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão do corpo*/
    font-weight: 400; /* Define a espessura da fonte */
    font-style: normal; /* Define o estilo da fonte */
    color: #ffffff; /* define cor da fonte */
}